body {
	margin: 0;
	padding: 0;
	font-family: "Baloo2";
}

/*nav section*/

.navbar-brand {
	font-family: "MiltonianTattoo";
}

.navbar-nav a.nav-item:hover {
	border: 2px solid #12DDE8;
	border-radius: 10px;
	background-color: #12DDE8;
	box-shadow: 0 0 50px #0CF1DF;
	transition: 0.5s;
}

#banner {
	background: linear-gradient(to bottom, rgba(9,126,255,0.4)0,rgba(9,126,255,0.3)100%), url('images/source.gif');
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.container {
	overflow: hidden;
}

.headermain {
	padding: 10px 30px;
	margin: 0 25px;
	background: transparent;
	color: #ffff;
	border: 1px solid white;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.5s;
}

.headermain2 {
	padding: 10px 30px;
	margin: 0 25px;
	background-color: #0CF1DF;
	box-shadow: 0 0 50px #0CF1DF;
	border: 3px solid white;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.5s;
}

.headermain:hover {
	background-color: #0CF1DF;
	box-shadow: 0 0 50px #0CF1DF;
	border: 3px solid white;
}

.headermain2:hover {
	background: transparent;
	color: #ffff;
	border: 1px solid white;
}

a.title {
	text-decoration: none;
	display: block;
	color: #FFB6C1;
}

a.title:hover {
	font-size: 30px;
	color: #0CF1DF;
/*	background-color: #0CF1DF;
*/	box-shadow: 0 0 50px #0CF1DF;
	transition: 0.5s;
}

.header {
	font-family: 'MiltonianTattoo';
	font-size: 72px;
	background: -webkit-linear-gradient(#0CF1DF, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 50px #333;
}

#divider {
	width: 3.25rem;
	border-width: 0.25rem;
	border-color: #0CF1DF;
	cursor: pointer;
}

#divider:hover {
	width: 100%;
	transition: 0.5s;
}

#secBanner {
	background: linear-gradient(to bottom, rgba(9,126,255,0.4)0, rgba(9,126,255,0.9)100%), url('images/Background.jpg');
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#secTitle {
	animation: glow 2s ease-in-out infinite alternate;
	color: #0CF1DF;
	font-size: 10rem;
	text-transform: uppercase;
	/*box-shadow: 0 0 50px #0CF1DF;*/

}

#text {
	animation: 2s ease-in-out infinite alternate;
	color: #0CF1DF;
}

 @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

.imgHover:hover {
	margin-top: -20px;
	border: 5px solid #0CF1DF;
	box-shadow: 0 0 50px #0CF1DF;
	transition: 0.5s;
}

#secText, #thirdText {
	margin-left: 120px;
	border-left: 3px solid #0CF1DF;
	padding-left: 10px;
}

.topic {
	font-size: 18px;
}

.img-br {
	border: 3px solid #000;
	border-radius: 15%;
	box-shadow: 0 0 50px #000;
}

#footer {
	background: linear-gradient(to bottom, rgba(9,126,255,0.4)0,rgba(9,126,255,0.3)100%), url('images/source.gif');
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

/*Index Section Finished*/

#banner2 {
	background: linear-gradient(to bottom, rgba(9,126,255,0.4)0, rgba(9,126,255,0.9)100%), url('images/background2.jpg');
	width: 100%;
	height: 40vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.box {
	border: 1px solid #0CF1DF;
	background-color: #F7EDED;
	border-radius: 5px;
	box-shadow: 0 0 30px #0CF1DF;
}

/*Neon Glowing Light*/

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}


.neon {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}
/*End of Section*/

/*Wavy Section*/
/*.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}
/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}
/*End Wavy Section*/
